<section id="about-us" class="about-us padd-section">
    <div class="container" data-aos="fade-up">
        <img src="assets/images/about-img.jpg" alt="About" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-content" data-aos="fade-left" data-aos-delay="100">
            <h2><span>YGSAHS</span> Automated Hydroponic System</h2>
            <p>Our Automated Hydroponic System utilizes advanced technology to optimize plant growth and reduce manual
                labor...</p>
            <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Innovative Design</li>
                <li><i class="vi bi-chevron-right"></i>Real-time Monitoring</li>
                <li><i class="vi bi-chevron-right"></i>Automated Control</li>
                <li><i class="vi bi-chevron-right"></i>Scalable and Efficient</li>
                <li><i class="vi bi-chevron-right"></i>User-friendly Interface</li>
            </ul>
        </div>
    </div>
</section>