<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-logo">
        <a class="navbar-brand" href="#">YGSAHS</a>
        <p>Thank you for visiting our site. We are dedicated to providing the best service and support. Stay connected
          with us for the latest updates and offerings. © 2024 YGSAHS. All rights reserved.</p>
      </div>
    </div>
  </div>

  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights eStartup. All rights reserved.</p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->