<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Advanced Hydroponic Systems</h2>
            <p class="separator">Revolutionizing agriculture with technology-driven, soil-free plant cultivation.</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">
                    <img src="/media/automated.JPG" alt="img">
                    <h4>Automated Control</h4>
                    <p>Utilize sensors and controllers to monitor and optimize environmental factors such as pH, TDS,
                        water levels, humidity, and temperature.</p>
                    <a href="assets/documents/ARDUINO_AUTOMATED_HYDROPONIC_SYSTEM_FINAL_REPORT.pdf">Learn more</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">
                    <img src="/media/friendly.JPG" alt="img">
                    <h4>User-Friendly Interface</h4>
                    <p>Our system ensures a seamless experience with intuitive interfaces for monitoring and controlling
                        plant growth parameters.</p>
                    <a href="assets/documents/ARDUINO_AUTOMATED_HYDROPONIC_SYSTEM_FINAL_REPORT.pdf">Learn more</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">
                    <img src="/media/growth.JPG" alt="img">
                    <h4>Enhanced Growth</h4>
                    <p>Achieve optimal plant health and yield with precise automation that reduces manual labor and
                        increases efficiency.</p>
                    <a href="assets/documents/ARDUINO_AUTOMATED_HYDROPONIC_SYSTEM_FINAL_REPORT.pdf">Learn more</a>
                </div>
            </div>

        </div>
    </div>

</section>