<section id="screenshots" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Design Gallery</h2>
            <p class="separator">Explore the visual showcase of our Arduino-powered Automated Hydroponic System, designed to optimize plant growth and simplify hydroponic gardening.</p>
        </div>

        <div class="screens-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="/media/1.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/2.mov" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/3.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/4.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/5.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/6.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/7.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/8.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/9.JPG" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/10.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/11.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/12.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/13.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/14.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/15.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/16.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/17.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/18.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/19.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/20.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/21.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/22.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/23.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="/media/24.HEIC" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>