<section id="screenshots" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Design Gallery</h2>
            <p class="separator">Explore the visual showcase of our Arduino-powered Automated Hydroponic System, designed to optimize plant growth and simplify hydroponic gardening.</p>
        </div>

        <div class="screens-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/images/screen/1.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/2.mov" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/3.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/4.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/5.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/6.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/7.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/8.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/9.JPG" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/10.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/11.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/12.MP4" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/13.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/14.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/15.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/16.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/17.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/18.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/19.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/20.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/21.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/22.MOV" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/23.HEIC" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/images/screen/24.HEIC" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>