<section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Team Member</h2>
            <p class="separator">Meet the talented individuals behind our innovative projects. Our team is dedicated to
                bringing cutting-edge solutions and creative designs to life. With a diverse range of skills and
                expertise, we collaborate to achieve excellence and make a meaningful impact.</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="team-block bottom">
                    <img src="/media/1.jpg" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/ilhan-gamze-saygı-24ba15232/"><i
                                        class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="ilhangamzesaygi@gmail.com"><i class="bi bi-envelope"></i></a></li>
                        </ul>
                        <span>Team Member</span>
                        <h4>Ilhan Gamze Saygi</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                <div class="team-block bottom">
                    <img src="/media/2_1.jpg" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/yasamin-valishariatpanahi/"><i
                                        class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="yasamin.valishariatpanahi@gmail.com"><i class="bi bi-envelope"></i></a></li>
                        </ul>
                        <span>Team Member</span>
                        <h4>Yasamin Valishariatpanahi</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                <div class="team-block bottom">
                    <img src="/media/3.jpg" class="img-responsive" alt="img">
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="https://www.linkedin.com/in/sara-mahyanbakhshayesh-095930254/"><i
                                        class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="raternottosayaboutit@gmail.com"><i class="bi bi-envelope"></i></a></li>
                        </ul>
                        <span>Team Member</span>
                        <h4>Sara Mahyanbakhshayesh</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>