<!-- Area Chart: Temperature -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">Temperature</h4>
                <div class="date-container" style="margin-top: 20px;">
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="EnvironmentTemperature" style="height:250px"></canvas>
        </div>
    </div>
</div>
<!-- Area Chart: Water Temperature -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">Water Temperature</h4>
                <div class="date-container" >
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="WaterTemperature" style="height:250px"></canvas>
        </div>
    </div>
</div>
<!-- Line Chart: Humidity -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">Humidity</h4>
                <div class="date-container" style="margin-top: 20px;">
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="Humidity" style="height:250px"></canvas>
        </div>
    </div>
</div>
<!-- Line Chart: Water Level -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">Water Level</h4>
                <div class="date-container" style="margin-top: 20px;">
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="WaterLevel" style="height:250px"></canvas>
        </div>
    </div>
</div>
<!-- Bar Chart: TDS -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">TDS</h4>
                <div class="date-container" style="margin-top: 20px;">
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="TDS" style="height:250px"></canvas>
        </div>
    </div>
</div>
<!-- Bar Chart: pH -->
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="card-title mb-0">pH</h4>
                <div class="date-container" style="margin-top: 20px;">
                    <p class="current-date"></p>
                </div>
            </div>
            <canvas id="PH" style="height:250px"></canvas>
        </div>
    </div>
</div>