<div class="row">
    <!-- Technique -->
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3" style="color: white;font-size:20px">Hydroponic Technique <i
                        class="mdi mdi-diamond float-end" style="font-size: 2.5rem; color: white"></i></h4>
                </h4>
                <h2 class="mb-5" style="color: white;font-weight:bold; font-size:28px">Deep Water Culture (DWC)</h2>
            </div>
        </div>
    </div>
    <!-- Internship -->
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3" style="color: white;font-size:20px">Internship Project<i
                        class="fa fa-circle-o-notch fa-2x float-end" style="color: white"></i></h4>
                </h4>
                <h2 class="mb-5" style="color: white;font-weight:bold; font-size:28px">Hardware</h2>
                <h6 class="card-text" style="color: white">Computer Engineering</h6>
            </div>
        </div>
    </div>
    <!-- Date -->
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3" style="color: white;font-size:20px">Project Interval<i
                        class="mdi mdi-calendar-outline float-end" style="font-size: 2.5rem; color: white"></i></h4>
                </h4>
                <h2 class="mb-5" style="color: white;font-weight:bold; font-size:28px">Summer Training</h2>
                <h6 class="card-text" style="color: white">01/07/2024 - 29/07/2024</h6>
            </div>
        </div>
    </div>
</div>