<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <a class="navbar-brand brand-logo" href="/" style="margin-left: 20px;"><img src="/media/logo.png" alt="logo"
            style="width: 150px; height: auto;" /></a>

    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <ul class="navbar-nav navbar-nav-right">
            <!-- Article -->
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="assets/documents/ARDUINO_AUTOMATED_HYDROPONIC_SYSTEM_FINAL_REPORT.pdf"
                    download>
                    <span class="menu-title">Article</span>
                </a>
            </li>
            <!-- Us -->
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user-circle-o"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    <h6 class="p-2 mb-0" style="display: flex; align-items: center; justify-content: center; font-size: 14px; color: #666;">
                        <img src="/media/Us.jpeg" alt="profile"
                            style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover; margin-right: 10px;" />
                        Team Members
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="https://www.linkedin.com/in/yasamin-valishariatpanahi/">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal" style="margin: 0; font-size: 14px; color: #666;">
                                Yasamin Valishariatpanahi
                            </h6>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="https://www.linkedin.com/in/sara-mahyanbakhshayesh-095930254/">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal" style="margin: 0; font-size: 14px; color: #666;">
                                Sara Mahyanbakhshayesh
                            </h6>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="https://www.linkedin.com/in/ilhan-gamze-saygı-24ba15232/">
                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal" style="margin: 0; font-size: 14px; color: #666;">
                                Ilhan Gamze Saygı
                            </h6>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <h6 class="p-2 mb-0" style="margin: 0; padding-top: 10px; padding-bottom: 10px; font-size: 14px; color: #666; text-align: center;">
                        DEU CENG
                    </h6>
                </div>
            </li>
            <!-- Home -->
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="/">
                    <i class="mdi mdi-home menu-icon"></i>
                </a>
            </li>
            <!-- Come right up -->
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-format-line-spacing"></i>
                </a>
            </li>
            <!-- mini logo -->
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="navbar-brand brand-logo-mini" href="/">
                    <img src="/media/logo-mini.jpeg" alt="logo" style="width: 30px; height: auto;" />
                </a>
            </li>
        </ul>
    </div>
</nav>