<div class="row sensorStat">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sensor's Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: left;">Sensor Name</th>
                                <th style="text-align: left;">Status</th>
                                <th style="text-align: left;">Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/waterTemperature.jpeg" class="me-2" alt="image">
                                    Water
                                    Temperature
                                </td>
                                <td>
                                    <label id="waterTemperature-status"
                                        class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/temperature.jpeg" class="me-2" alt="image">
                                    Temperature
                                </td>
                                <td>
                                    <label id="temperature-status" class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/humidity.jpeg" class="me-2" alt="image"> Humidity
                                </td>
                                <td>
                                    <label id="humidity-status" class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/waterLevel.jpeg" class="me-2" alt="image"> Water
                                    Level
                                </td>
                                <td>
                                    <label id="waterLevel-status" class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/TDS.jpeg" class="me-2" alt="image"> TDS
                                </td>
                                <td>
                                    <label id="tds-status" class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/images/sensors/pH.jpeg" class="me-2" alt="image"> pH
                                </td>
                                <td>
                                    <label id="ph-status" class="badge badge-gradient-success">Online</label>
                                </td>
                                <td class="current-time"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>